[submodule "DeepLearning"]
	path = DeepLearning
	url = https://github.com/jackyhuynh/DeepLearning.git
[submodule "DataTidy"]
	path = DataTidy
	url = https://github.com/jackyhuynh/DataTidy.git
[submodule "ComputerVision"]
	path = ComputerVision
	url = https://github.com/jackyhuynh/ComputerVision.git
[submodule "UseCase/ProbabilityInRobotic"]
	path = UseCase/ProbabilityInRobotic
	url = https://github.com/jackyhuynh/ProbabilityInRobotic.git
